@charset "UTF-8";
body{
	color: #fff;
	background: #fff url(../../images/bg/login_bg.png) no-repeat center fixed;
}
.fr{float: right;}
.fl{float: left;}
.clearfix:after{
	display: block;
	content: '';
	clear: both;
}
/** login style **/
.wrapper .header .logo{
	color: #fff;
    font-size: 20px;
    
}
.wrapper .login-box .login{
	
	margin-top: 100px;
	padding: 80px 0;
	background:rgba(255,255,255,0.8);
	box-shadow: 0 0 10px 5px rgba(255,255,255,0.5);
	border-radius: 3px;
	overflow: hidden;
}
.wrapper .login-box .login .login-left{
	width: 70%;
	color: #000;
	text-align: center;
}
.wrapper .login-box .login .login-left .login-form{
	width:50%;
	margin:auto;
	text-align: center;
}
.wrapper .login-box .login .login-left .dis-b{
	display: block;
	margin:7% auto;
}
.wrapper .login-box .login .login-left input{
	width:100%;
}
.wrapper .login-box .login .login-left input.btn-login{
	color: #fff;
	background-color: #555;
}
.wrapper .login-box .login .login-left input.verify{
	width: 62%;
}
.wrapper .login-box .login .login-left button.verifycode {
    height: 32px;
    color: #fff;
    background-color: #555;
}
.wrapper .login-box .login .login-left p.error{
	display: none;
	color: #f00;
	text-align: left;
}
.wrapper .login-box .login .login-left .login-footer{
	width:50%;
	margin:auto;
	padding:10px 18px;
}
.wrapper .login-box .login .login-right{
	width: 30%;
	padding:10px 0px 10px 20px;
	color: #666;
	border-left: #bcb7b7 dashed 1px;

}
.wrapper .login-box .login .login-right .btn-group{
	width: 100%;
	margin:5% auto;
	text-align: center; 

}

.wrapper .login-box .login .login-right .btn-three{
	width: 50%;
	color:#fff;
	background-color: rgba(3,3,3,0.6);
}
.btn-group .btn .icon-qq {
    color: #00b5f1;
}
.btn-group .btn .icon-weixin {
    color: #17da32;
}
.btn-group .btn .icon-weibo {
    color: #ff0000;
}